
body {
    font-family: 'Arial', sans-serif;
}

header, main, footer {
    width: 1024px;
    margin: auto;
}

header {
    background-color: #0071c5;
    padding: 10px;
}

h1 {
    font-size: 40px;
    color: white;
    font-family: "Arial";
}

a:not(.different) {
    color: white;
    font-size: 16px;
    text-decoration: underline;
    font-family: "Helvetica";
}

*h2 {
    font-size: 28px;
    font-family: "Helvetica";
}

*p {
    font-family: "Helvetica";
    font-size: 16px;
}

aside {
    background-color: #f3f3f3;
    width: 1000px;
}

